#sidebar h2,
#sidebar.inner {
    text-align: center;
}
#account {
    margin: 0 auto;
    text-align: center;
}
#sidebar a,
#submit,
.msg {
    display: block;
    margin: 0 auto;
    text-align: center;
} 
.msg {
    width: 100%;
}
input {
    max-width: 16em;
    border: 1px solid #999999;
    padding: 5px;
}
