.fc-event {
    height: 3em;
}

.fc-day-grid-event, .fc-content {
    white-space: normal;
}

#calendar {
    margin: 0 auto;
    max-width: 650px;
}

.button {
    text-align: center;
}

img {
    width: 15%;
    height: 15%;
}

h1, a:link, a:visited {
    margin: 0 auto;
    color: #808080;
}

#eraPic {
    text-align: right;
}

#headDiv {
    text-align: center;
}
